.container {
    display: flex;
    justify-content: space-around;
}

.category-item {
    flex-grow: 1;
    border: 1px solid;
    list-style: none;
    padding: 0;
    height: auto;
    width: auto;
    font: italic bold .8em/1.2 Arial, sans-serif;

}
ul {
    padding: 0;
    list-style-type: none;
    font: italic bold 12px/24px Arial, sans-serif;
}

li {
    margin-bottom: 10px;
}
a {
    text-decoration: none;

}
#order-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select,
textarea {
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
}

button[type="submit"] {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: #0077cc;
    color: #fff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #005fa3;
}