.container {
    display: flex;
    justify-content: space-around;
}

.category-item {
    flex-grow: 1;
    border: 1px solid;
    list-style: none;
    padding: 0;
    height: auto;
    width: auto;
    font: italic bold .8em/1.2 Arial, sans-serif;

}
ul {
    padding: 0;
    list-style-type: none;

}

li {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    font: italic bold 12px/24px Arial, sans-serif;
}
